// conf/templates/setonix_default.config
//
// Setonix default config 

includeConfig 'base.config'
process {
  executor = 'slurm'
  queue    = 'work'     // <-- change to your default queue/partition
  cpus     = 8
  memory   = '32 GB'
  time     = '12h'
  module   = 'singularity/4.1.0-nompi'
  cache    = 'lenient'
  stageInMode = 'symlink'

  // GPU tasks – processes labeled with "gpu"
  withLabel: gpu {
    queue          = 'gpu'                 // <-- change if your cluster differs
    time           = '24h'
    clusterOptions = 'gres=gpu:1'
    //TODO maybe??
    // add in allowance for srun -N 1 -n 1 -c 8 --gres=gpu:1 --gpus-per-task=1 --gpu-bind=closest <executable>
   
  }

  // High memory tasks – processes labeled with "bigmem"
  withLabel: bigmem {
    memory = '100 GB'
  }
}

// ===============================
//  STORAGE / SCRATCH SETTINGS
// ===============================

// Work directory: should be on a fast scratch filesystem if possible
workDir = "$MYSCRATCH/nf_work"

// Optional: override default outdir
// params.outdir = "$MYSCRATCH/evidence_results"

// ===============================
//  SINGULARITY / DOCKER
// ===============================

singularity {
  enabled    = true
  autoMounts = true
  autoCleanUp = true
  envWhitelist = 'CUDA_VISIBLE_DEVICES,ROCM_VISIBLE_DEVICES'
}

docker {
  enabled = false
}
